<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>Task Details</h2>
        <form id="taskDetailsForm" method="post" action="/task_details/{{ task_id }}">
            <div class="input-group">
                <label for="taskName">Task Name</label>
                <input type="text" id="taskName" name="taskName" value="{{ task[0] }}" required>
            </div>
            <div class="input-group">
                <label for="taskDescription">Task Description</label>
                <input type="text" id="taskDescription" name="taskDescription" value="{{ task[1] }}" required>
            </div>
            <div class="input-group">
                <label for="taskContent">Task Content</label>
                <textarea type="text" id="taskContent" name="taskContent" required>{{ task[2] }}</textarea>
            </div>
            <div class="input-group">
                <label for="taskAnswer">Task Answer</label>
                <input type="text" id="taskAnswer" name="taskAnswer" value="{{ task[3] }}" required>
            </div>
            <button type="submit" class="btn">Update Task</button>
        </form>
        {% include "./show_flashed_messages.html" %}
    </div>
</body>
</html>