<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task Sets</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>

<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>View and Manage Task Sets</h2>
        <ul id="taskSetList"></ul> <!-- Task sets will be loaded here dynamically -->
        {% include "./show_flashed_messages.html" %}
    </div>
    <script>
        var taskSets = {{ task_sets|tojson }};

    </script>
    <script src="../../static/js/script.js"></script>
</body>

</html>
