<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/stylePages.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="form-container" id="page1">
        <form action="signup.php" method="post" class="form" id="signupForm">
            <h2>Sign Up</h2>
            <div class="inlineContent">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="name" id="name" name="name">
                </div>
                <div class="input-group">
                    <label for="surname">Surname</label>
                    <input type="surname" id="surname" name="surname">
                </div>
            </div>
            <div class="inlineContent">
                <div class="input-group">
                    <label for="dateofbirth">Date of Birth</label>
                    <input type="dateofbirth" id="dateofbirth" name="dateofbirth">
                </div>
                <div class="input-group">
                    <label for="id">ID</label>
                    <input type="id" id="id" name="id" required>
                </div>
            </div>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="username" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn" onclick="showConfirmation(event)">Sign Up</button>
            <p class="redirect">Already have an account? <a href="login.html">Login</a></p>
        </form>
        <div id="confirmationMessage" class="confirmation-message">
            Sign up successful! Welcome!
        </div>
    </div>
    <script src="../../static/js/script.js"></script>
</body>

</html>
