<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Set Details</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>

<body>
    <div class="dashboard-container">
        <h2>Task Set Details</h2>
        <form id="taskSetDetailsForm">
            <div class="input-group">
                <label for="taskSetName">Task Set Name</label>
                <input type="text" id="taskSetName" name="taskSetName" required>
            </div>
            <button type="submit" class="btn">Update Task Set</button>
            <p id="taskSetUpdateConfirmation" class="confirmation-message">Task set updated successfully!</p>
        </form>
        <br>
        <h3>Tasks in this Set</h3>
        <ul id="taskList"></ul> <!-- Tasks will be displayed here -->
    </div>
    <script src="../../static/js/script.js"></script>
</body>

</html>
