<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/stylePages.css">
    <title>View Courses</title>
</head>

<body>
    <div class="dashboard-container">
    {% include "./pages/navbar.html" %}
        {% if msg %}
            <h1>{{ msg }}</h1>
        {% endif %}
        <h2>View and Manage Courses</h2>
        <ul id="courseList">
        </ul> <!-- Courses will be loaded here dynamically -->
    </div>
    <script>
        var courses = {{ courses|tojson }};
    </script>
    <script src="../../static/js/script.js"></script>
</body>

</html>
