<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>Course Details</h2>
        <form id="addTaskSetForm" method="post" action="/add_task_set/{{ course_code }}">
            <div class="input-group">
                <label for="TaskSetName">Task Set Name</label>
                <input type="text" id="taskSetName" name="taskSetName" required>
            </div>
            <button type="submit" class="btn">Add Task Set</button>
        </form>
        {% include "./show_flashed_messages.html" %}
    </div>
</body>
</html>