<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/stylePages.css">
    <title>Course Details</title>
</head>

<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>Course Details</h2>
        <form id="courseDetailsForm" method="post" action="/course_details/{{ course[2] }}">
            <div class="input-group">
                <label for="courseName">Course Name</label>
                <input type="text" id="courseName" name="courseName" value="{{ course[0] }}" required>
            </div>
            <div class="input-group">
                <label for="courseDescription">Course Description</label>
                <textarea id="courseDescription" name="courseDescription" required>{{ course[1]|trim }}</textarea>
            </div>
            <div class="inlineContent">
                <a class="btn" href="/add_task_set/{{ course[2] }}">Add task set</a>
                <button type="submit" class="btn">Update Course</button>
            </div>
            <p id="updateConfirmation" class="confirmation-message">Course updated successfully!</p>
        </form>
        {% include "./show_flashed_messages.html" %}
    </div>
    <script src="../../static/js/script.js"></script>
</body>

</html>
