<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Dashboard</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>

<body>
    <div class="dashboard-container">
        <h1>Instructor Dashboard</h1>
        <ul class="dashboard-links">
            <li><a href="/create_course">Create a New Course</a></li>
            <li><a href="/view_courses">View and Manage Courses</a></li>
            <li><a href="/generate_report">Generate Reports</a></li>
            <li><a href="/view_task_sets">View and Update Task Sets</a></li>
            <li><a href="/add_students_to_course">Add Students to Course</a></li>
            <li><a href="/save_csv">Save csv files</a></li>
        </ul>
        {% include "./show_flashed_messages.html" %}
        <div class="navigationStyle">
            {% if "latte_user" in session %}
                <a href="/logout"><img src="https://static.thenounproject.com/png/7017136-200.png"></a>
            {% endif %}
        <p>Log out</p>
        </div>
    </div>
    <script src="../../static/js/script.js"></script>
</body>

</html>
