<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">

    <style>
        .course{
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body>
    <div class="dashboard-container">
        {% if "latte_user" in session %}
            <a href="/logout">Log out</a>
        {% endif %}
        <h1>Student Dashboard</h1>

        <!-- Course Selection Section -->
        <div class="form-container">
            <h2>Your Courses</h2>
            <div id="courseSelect" class="dashboard-links">

            </div>
        </div>

        <!-- Task List Section (hidden by default) -->
        <div id="taskListSection" class="hidden-section">
            <h2>Tasks for Selected Course</h2>
            <ul id="taskList"></ul>
        </div>
    {% include "./show_flashed_messages.html" %}
    </div>

    <script>
        let courses_list = document.getElementById("courseSelect");
        let courses = {{ courses|tojson }};
        for(let i = 0; i < courses.length; i++){
            courses_list.innerHTML += `<a class="course" href="/course/${courses[i]}">${courses[i]}</a>`;
        }
    </script>
    <script src="../../static/js/script.js"></script>
</body>

</html>
