<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Report</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
    <style>
        #heatmap_shower {
            display: none;
        }

        #taskSelectSection {
            display: none;
        }

        
        #image {
            display: none;
            
            border: solid 1px red;
            background-color: blue;
            cursor: pointer;
            position: relative;

            background-image: url("../../static/media/heatmap.png")
        }


        #rect {
            border: solid 2px red;
            pointer-events: none;
            display: none;
        }
    </style>
</head>

<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>Generate Report</h2>
        <form id="reportForm" method="post" action="/generate_report" enctype="multipart/form-data">
            <!-- Report Type Selection -->

            <input type="hidden" name="x0" id="x0">
            <input type="hidden" name="x1" id="x1">
            <input type="hidden" name="y0" id="y0">
            <input type="hidden" name="y1" id="y1">

            <div class="input-group">
                <label for="reportType">Report Type</label>
                <select id="reportType" name="reportType" onchange="change_generate_url()" required>
                    <option value="">Select Report Type</option>
                    <option value="individual">Individual Report</option>
                    <option value="group">Group Report</option>
                </select>
            </div>

            <!-- Report Format Selection -->
            <div class="input-group">
                <label for="reportFormat">Report Format</label>
                <select id="reportFormat" name="reportFormat" onchange="change_generate_url()" required>
                    <option value="">Select Report Type</option>
                    <option value="heatmap">Heatmap</option>
                    <option value="gazeplot">Gaze Plot</option>
                </select>
            </div>

            <!-- Individual Report Section with Search (hidden by default) -->
            <div id="individualReportSection" class="hidden-section">
                <h3>Select Student for Individual Report</h3>
                <label for="individualStudentSearch">Search for Student</label>
                <input type="text" id="individualStudentSearch" placeholder="Type to search..."
                    oninput="filterStudents('individualStudentList', 'individualStudentSearch')">
                <select onchange="find_common_tasks()" id="individualStudentList" name="individualStudent">

                </select>
            </div>

            <!-- Group Report Section with Search (hidden by default) -->
            <div id="groupReportSection" class="hidden-section">
                <h3>Select Students for Group Report</h3>
                <label for="groupStudentSearch">Search for Students</label>
                <input type="text" id="groupStudentSearch" placeholder="Type to search..."
                    oninput="filterStudents('groupStudentList', 'groupStudentSearch')">
                <div onchange="find_common_tasks()" id="groupStudentList">
                    
                </div>
            </div>

            <!-- Task Selection -->
            <div class="input-group" id="taskSelectSection">
                <label for="taskSelect">Select Task</label>
                <select id="taskSelect" name="taskSelect" required>
                    <option value="">Select Task</option>
                </select>
            </div>

            <label for="csvFile">Upload CSV file:</label>
            <input type="file" id="csvFile" name="csvFile" accept=".csv">

            <a id="highlighter" href="#" onclick="redirect_to_highlight()" class="btn">Highlight Code</a>

            <button type="submit" class="btn">Generate Report</button>
            {% if path %}
                <button id="show_button" type="button" class="btn" onclick="show_heatmap()">Show Report</button>
                <a href="{{ path }}" class="btn" download>Download Report</a>
            {% endif %}
        </form>
    {% include "./show_flashed_messages.html" %}
    </div>
    <div id="heatmap_shower">
        {% if path %}
            <img width="500" src="{{ path }}">
        {% endif %}
    </div>

    <div id="image" class="image"></div>
    <div id="rect"></div>
    <div id="bounds"></div>

    <script>
        
    
    (function () {


        var div = document.getElementById('image');
        div.addEventListener('mousedown', mousedown);
        div.addEventListener('mouseup', mouseup);
        div.addEventListener('mousemove', mousemove);

        var grab = false;
        var rect = {
            x0: 0,
            y0: 0,
            x1: 0,
            y1: 0
        };

        var actual_cors = {
            x0: 0,
            y0: 0,
            x1: 0,
            y1: 0
        };

        function mousedown(e) {
            grab = true;
            const rectBounds = div.getBoundingClientRect();
            rect.x0 = e.clientX;
            rect.y0 = e.clientY;

            actual_cors.y0 = Math.round((e.clientY - rectBounds.top) * 100) / 100;
            actual_cors.x0 = Math.round((e.clientX - rectBounds.left) * 100) / 100;
        }

        function mousemove(e) {
            if (grab) {
                const rectBounds = div.getBoundingClientRect();
                rect.x1 = e.clientX;
                rect.y1 = e.clientY;

                actual_cors.x1 = Math.round((e.clientX - rectBounds.left) * 100) / 100;
                actual_cors.y1 = Math.round((e.clientY - rectBounds.top) * 100) / 100;
                showRect();
            }
        }

        function mouseup(e) {
            grab = false;


        }

        function showRect() {
            var rectDiv = document.getElementById('rect');
            rectDiv.style.display = 'block';
            rectDiv.style.position = 'absolute';
            rectDiv.style.left = rect.x0 + 'px';
            rectDiv.style.top = rect.y0 + 'px';
            rectDiv.style.width = (rect.x1 - rect.x0) + 'px';
            rectDiv.style.height = (rect.y1 - rect.y0) + 'px';

            document.getElementById("x0").value = actual_cors.x0;
            document.getElementById("x1").value = actual_cors.x1;
            document.getElementById("y0").value = actual_cors.y0;
            document.getElementById("y1").value = actual_cors.y1;

            var boundsDiv = document.getElementById('bounds');
            boundsDiv.innerText = 'crop rect: ' + actual_cors.x0 + ',' + actual_cors.y0 + ' to ' + actual_cors.x1 + ',' + actual_cors.y0;
        }

    })();




    </script>

    <script>

        function decodeHTMLEntities(str) {
            const textarea = document.createElement("textarea");
            textarea.innerHTML = str;
            return textarea.value;
        }

        var checker = 0;
        var link_to_highlight = "/highlight";

        function select_all() {
            let value = null;
            let inputs = document.getElementById("groupStudentList").querySelectorAll("input");

            if(document.getElementById("all_selector").checked){
                value = true;
            }
            else{
                value = false;
            }

            for(let i = 0; i < inputs.length;i++){
                inputs[i].checked = value;
            }
        }

        function redirect_to_highlight() {
            let task_selected = document.getElementById("taskSelect");
            let i_or_g = document.getElementById("reportType");
            let g_or_h = document.getElementById("reportFormat");

            let xml_http1 = new XMLHttpRequest();
            
            if(task_selected.value === ""){
                alert("Please select a task first.");
                return;
            }

            xml_http1.open("GET", `/generate_image_for_highlight?task_id=${task_selected.value}`, true);
            xml_http1.setRequestHeader("Content-Type", "application/json");

            xml_http1.onreadystatechange = function () {
                if (xml_http1.readyState === 4 && xml_http1.status >= 200 && xml_http1.status < 300) {
                    document.getElementById("image").style.backgroundImage = "url('../../static/media/code_image.png')";
                    document.getElementById("image").style.display = "block";

                    str = xml_http1.responseText;

                    let parts = str.split("_");

                    document.getElementById("image").style.width = `${parts[0]}px`;
                    document.getElementById("image").style.height = `${parts[1]}px`;
                }
            };

            xml_http1.send();
        }

        function find_common_tasks(){
            var students = "";
            let xml_http1 = new XMLHttpRequest();
            let response = null;
            checker = 0;
            document.getElementById("taskSelect").innerHTML = "<option value=''>Select Task</option>";

            if(document.getElementById("reportType").value == "individual"){
                students = `${document.getElementById("individualStudentList").value}iii`;
            }
            else{
                let inputs = document.getElementById("groupStudentList").querySelectorAll("input");
                for(let i = 0; i < inputs.length; i++){
                    if(inputs[i].getAttribute("id") === "all_selector"){
                        continue;
                    }
                    if(inputs[i].checked){
                        students += `${inputs[i].value}iii`;
                    }
                }
            }

            xml_http1.open("GET", `/find_common_tasks?students=${students}`, true);
            xml_http1.setRequestHeader("Content-Type", "application/json");

            xml_http1.onreadystatechange = function () {
                if (xml_http1.readyState === 4 && xml_http1.status >= 200 && xml_http1.status < 300) {
                    response = JSON.parse(xml_http1.responseText);
                    response = [...new Set(response)];
                    console.log(response);

                    if(checker === 0){
                        for(let i = 0; i < response.length; i++){
                            document.getElementById("taskSelect").innerHTML += `<option value=${response[i][0]}>${response[i][1]}</option>`;
                        }
                        checker = 1;
                    }
                }
            };

            xml_http1.send();
        }

        function show_heatmap() {
            let heatmap_image = document.getElementById("heatmap_shower");
            let button = document.getElementById("show_button");

            if(button.innerHTML === "Show Report"){
                button.innerHTML = "Hide Report";
                heatmap_image.style.display = "block";
            }
            else{
                button.innerHTML = "Show Report";
                heatmap_image.style.display = "none";
            }
        }

        function change_generate_url(){
            let report_type_select = document.getElementById("reportType");
            let form = document.getElementById("reportForm");

            if(report_type_select.value === "individual"){
                form.action = "/generate_heatmap_individual";
            }
            else if (report_type_select.value === "group"){
                form.action = "/generate_heatmap_group";
            }
            else{
                form.action = "/#";
            }

            console.log(form.action);
        }

        let students_select_individual = document.getElementById("individualStudentList");
        let students_select_group = document.getElementById("groupStudentList");
        let students = {{ students|tojson }};

        for(let i = 0; i < students.length; i++){
            students_select_individual.innerHTML +=  `<option value="${students[i]}">${students[i]}</option>`;

            students_select_group.innerHTML += `<div class="input-group">
                                                <input type="checkbox" id="groupStudent${i + 1}" name="groupStudent${i + 1}" value="${students[i]}">
                                                <label for="groupStudent${i + 1}">${students[i]}</label>
                                            </div>`;
        }

        if(students.length > 0){
            students_select_group.innerHTML += `<div class="input-group">
                                                <input onchange="select_all()" type="checkbox"  id="all_selector" name="all_selector">
                                                <label for="all_selector">Select All</label>
                                            </div>`;
        }
    </script>
    <script src="../../static/js/script.js"></script>
</body>

</html>
