<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">

    <style>
        .task{
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="form-container">
        {% include "./website_pages/navbar.html" %}
        <h1>Tasks completed by students</h1>
        <div id="taskSetSelect" class="dashboard-links">
            {% for item in tasks_names_and_students %}
                <a class="task" href="/save_csv/{{ item[1] }}/{{ item[0] }}">{{ item[1] }}, {{ item[2] }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>