<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">

    <style>
        .task{
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <form class="form-container" action="/save_specific_csv" method="post">
        {% include "./website_pages/navbar.html" %}
        <h1>Tasks completed by students</h1>
        <div id="groupReportSection" class="">
            <input type="text" id="groupStudentSearch" placeholder="Type to search..."
                oninput="filterStudents('groupStudentList', 'groupStudentSearch')">
            <div id="groupStudentList">
                {% for item in tasks %}
                    <div class="input-group">
                        <input type="checkbox" id="{{ item[0] }}" name="task_{{ item[0] }}" value="{{ item[0] }}" onclick="onlyOne(this)">
                        <label for="{{ item[0] }}">{{ item[1] }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <button class="btn" type="submit">Generate CSV</button>
    </form>

    <script src="../../static/js/script.js"></script>

    <script>

let students_select_individual = document.getElementById("individualStudentList");
        let students_select_group = document.getElementById("groupStudentList");
        let students = {{ tasks|tojson }};

        function onlyOne(checkbox) {
        const checkboxes = document.querySelectorAll('#groupStudentList input[type="checkbox"]');
        checkboxes.forEach((cb) => {
            if (cb !== checkbox) cb.checked = false;
        });
    }

function select_all() {
            let value = null;
            let inputs = document.getElementById("groupStudentList").querySelectorAll("input");

            if(document.getElementById("all_selector").checked){
                value = true;
            }
            else{
                value = false;
            }

            for(let i = 0; i < inputs.length;i++){
                inputs[i].checked = value;
            }
        }

        if(students.length > 0){
            students_select_group.innerHTML += `<div class="input-group">
                                                <input onchange="select_all()" type="checkbox"  id="all_selector" name="all_selector">
                                                <label for="all_selector">Select All</label>
                                            </div>`;
        }
    </script>
</body>
</html>