<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Set Details</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>

<body>
    <div class="dashboard-container">
        <div class="navigationStyle">
            <img src="https://static.thenounproject.com/png/1160931-200.png">
            {% include "./website_pages/navbar.html" %}
        </div>
        <h2>Task Set Details</h2>
        <form id="taskSetDetailsForm" method="post" action="/task_set_details/{{ set_of_task[0] }}">
            <div class="input-group">
                <label for="taskSetName">Task Set Name</label>
                <input type="text" id="taskSetName" name="taskSetName" value="{{ set_of_task[1] }}" required>
            </div>
            <button type="submit" class="btn">Update Task Set Name</button>
            <a href="/add_task/{{ set_of_task[0] }}" class="btn">Add task</a>
            <p id="taskSetUpdateConfirmation" class="confirmation-message">Task set updated successfully!</p>
        </form>
        <br>
        <h3>Tasks in this Set</h3>
        <ul id="taskList">
        </ul>
        {% include "./show_flashed_messages.html" %}
    </div>
    <script src="../../static/js/script.js"></script>
    <script>
        let tasks = {{ tasks|tojson }};
        let tasks_displayer = document.getElementById("taskList");

        for(let i = 0; i < tasks.length; i++){
            tasks_displayer.innerHTML += `<li>${tasks[i][1]}<a href="/task_details/${tasks[i][0]}">Edit</a></li>`;
        }
    </script>
</body>

</html>
