<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task Sets</title>
    <link rel="stylesheet" href="../../static/css/stylePages.css">
</head>

<body>
    <div class="dashboard-container">
        {% include "./show_flashed_messages.html" %}
        {% include "./website_pages/navbar.html" %}
        <h2>View and Manage Task Sets</h2>
        <ul id="taskSetList"></ul> <!-- Task sets will be loaded here dynamically -->
    </div>
    <script>
        var taskSets = {{ task_sets|tojson }};

    </script>
    <script src="../../static/js/script.js"></script>
</body>

</html>
