<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <style>
      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      a {
        font-size: 6rem;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <a href="/calibration">Calibration</a>
    </div>
  </body>
</html>
