<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>

</head>
<body>

    <h1>Welcome to the Index Page</h1>

    <div class="container">
        <div class="card"><a href="/add_students_to_course">Add Students to Course</a></div>
        <div class="card"><a href="/course_details">Course Details</a></div>
        <div class="card"><a href="/create_course">Create Course</a></div>
        <div class="card"><a href="/dashboardi">Dashboard 1</a></div>
        <div class="card"><a href="/dashboards">Dashboard 2</a></div>
        <div class="card"><a href="/generate_report">Generate Report</a></div>
        <div class="card"><a href="/login">Login</a></div>
        <div class="card"><a href="/signup">Signup</a></div>
        <div class="card"><a href="/task_set_details">Task Set Details</a></div>
        <div class="card"><a href="/view_courses">View Courses</a></div>
        <div class="card"><a href="/view_task_sets">View Task Sets</a></div>
    </div>

</body>
</html>
