<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .vertical {
            flex-direction: column;
        }
        p {
            font-size: 2.2rem;
            color: red;
        }
        button:hover {
            background-color: rgb(79, 79, 79);
        }
        button:active{
            background-color: rgb(79, 79, 79);
        }
    </style>

    {% include "webgazer_import.html" %}
</head>
<body>

    <div class="center vertical">
        <button onclick="toggle_listening()">Toggle</button>
        <p id="teller">Not listening...</p>
    </div>

    <div class="center">
        <img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*tJC5z5uqbux34YvCp1pTqA.png">
    </div>

    <p id="coordinates"></p>

    <script>
        let gaze_coordinates = [];
        let counter = 0;
        let is_listening = false;
        let teller = document.getElementById("teller");

        function toggle_listening() {
            if(is_listening){
                is_listening = false;
                webgazer.setGazeListener(null);
                webgazer.end();
                teller.innerHTML = "Not listening...";
                teller.style.color = "red";
                return;
            }
            teller.innerHTML = "Listening...";
            teller.style.color = "green";
            webgazer.setGazeListener((data, elapsedTime) => {
                if (data) {
                    let rounded_x = Math.round(data.x * 100) / 100;
                    let rounded_y = Math.round(data.y * 100) / 100;
                    let rounded_timestamp = Math.round(((Date.now()) / 1000) * 100) / 100;
                    counter++;
                    
                    gaze_coordinates.push({x: rounded_x, y: rounded_y, t: rounded_timestamp});

                    if(counter === 20){
                        counter = 0;
                        let xml_http = new XMLHttpRequest();
                        xml_http.open("POST", "/store", true);
                        xml_http.setRequestHeader("Content-Type", "application/json");
                        xml_http.send(JSON.stringify(gaze_coordinates));
                        gaze_coordinates = [];
                    }
                }
            }).begin();
            is_listening = true;
        }
        
    </script>
</body>
</html>