<link rel="stylesheet" href="../static/css/style.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!--Changed to online link-->
<link rel="stylesheet" href="../static/css/bootstrap2.min.css">

<!-- <script src="./tensorflow.js"></script> -->
<script src="../static/js/webgazer.js"></script>

<script src="../static/js/sweetalert.min.js"></script>


<script src="../static/js/main.js"></script>
<script src="../static/js/calibration.js"></script>
<script src="../static/js/precision_calculation.js"></script>
<script src="../static/js/precision_store_points.js"></script>


<script src="../static/js/resize_canvas.js"></script>

<!--Changed to online link-->
<script src="../static/js/bootstrap.bundle.min.js"></script>
